@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');


* {
    box-sizing: border-box;
    font-family: "Montserrat", sans;
}

body, .bgcolor {
    margin: 0;
    background-color: #725a46;
}

.home-header {
    background-color: white;
}

.companyName {
    font-family: 'Corinthia', cursive;
    font-size: 72px;
}

.companyMobileName {
    font-family: 'Corinthia', cursive;
    font-size: 48px;
}

.banner {
    background-color: #C29D9D;
    width: 1000px;
    height: 300px;
    border-radius: 0 0 100% 100%;
    position: relative;
}

.bannerUpper {
    top: -20px;
}

.logo {
    margin: 0 auto;
}

.header-text {
    font-size: 20px;
}

.logo-home {
    border: 5px solid black;
    border-radius: 100%;
}

.active {
    color: #c93e3e;
}

.link-black {
    color: black;
}

.link-black:hover {
    color: #c93e3e;
    transition: all 0.5s ease;
}

.hero img {
    width: 100%;
}

.hero-text {
    font-size: 32px;
    text-align: center;
    background-color: #957878;
    color: white;
    width: 50vw;
    padding: 20px;
    border-radius: 25px;
    ;
    position: relative;
    top: -100px;
    left: 25vw;
}

.products {
    position: relative;
    top: -60px;
}

.home-footer {
    background-color: #C29D9D;
    padding: 20px;
}

.home-footer i {
    font-size: 20px;
    margin: 0 10px;
}

.home-footer .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    border: 1px solid #000 !important;
}

.home-header-mobile,
.home-header {
    background-color: #C29D9D;
}

.navbar-toggler {
    background-color: transparent !important;
}

.copyright {
    font-size: 14px;
}

.link-black {
    text-decoration: none;
}

.about-card {
    background-color: #895959;
    margin: 0 auto;
    border-radius: 25px;
    color: white;
}

.chair {
    width: 150px;
}

.team-member {
    width: 150px;
    height: 150px;
    position: relative;
    top: -30px;
    left: -150px;
}

.images {
    position: relative;
    left: 100px;
}

.name {
    background-color: #EDD67B;
    border: 1px solid black;
    position: relative;
    left: -22px;
    top: -40px;
    height: 50px;
    width: 200px;
}

.member-name {
    font-size: 17px;
}

.right .container {
    width: 40vw;
}

.font-italic{
    font-style: italic;
}

.team-text{
    text-align: center;
}

.bg-black{
    border-radius: 40px;
}

.button{
    width: 15vw;
}

.dishes .container{
    border-radius: 30px;
}